@charset "utf-8";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Microsoft YaHei', 微软雅黑;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.innerpage {
  background: url('../imgs/innerback.png');
  background-size: 100% 100%;
}

#main3d {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#s3d_a,
.fcanvas {
  position: absolute;
  top: 0px;
  left: 310px;
  right: 110px;
  bottom: 210px;
  overflow: hidden;
}

.sbtnwarp {
  position: absolute;
  left: 320px;
  right: 110px;
  bottom: 220px;
  overflow: hidden;
}

.sbtnwarp .btn {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  background: url('../imgs/tsfill.png');
  border-radius: 50%;
  cursor: pointer;
  border: #4dd9f0 solid 1px;
  margin: 0 3px;
  -moz-box-shadow: 0 0 7px #4dd9f0 inset;
  -webkit-box-shadow: 0 0 7px #4dd9f0 inset;
  box-shadow: 0 0 7px #4dd9f0 inset;
  text-align: center;
  font-size: 24px;
  line-height: 47px;
}

.sbtnwarp .btn:hover {
  background: #4dd9f0;
}

.sbtnwarp .btn.active {
  background: #fff;
  color: #039;
}

#s3d_a_mask {
  background: url('../imgs/inner3dmask.png');
  position: absolute;
  top: 0;
  left: 310px;
  right: 110px;
  height: 65px;
}

#loadinginfo {
  background: #000;
  width: 260px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -130px;
  color: #fff;
  border-radius: 6px;
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.topbar {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  height: 63px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}

.topbar a {
  color: #fff;
}

.topbar tr {
  padding: 0;
  margin: 0;
}

.topbar td {
  padding: 0;
  margin: 0;
}

.topbar .left_corner {
  width: 352px;
  background: url('../imgs/Topbat_left.png') top no-repeat;
  vertical-align: top;
}

.topbar .right_corner {
  width: 352px;
  background: url('../imgs/Topbat_right.png') top no-repeat;
  vertical-align: top;
}

.topbar .left_corner .disable {
  opacity: 0.2;
}

.topbar .left_corner .disable:hover {
  background: url('../imgs/floatfill.png');
}

.topbar .right_corner #rttime {
  font-size: 20px;
  margin-left: 18px;
}

.topbar .right_corner .usermenu {
  position: absolute;
  top: 1px;
  right: -10px;
}

.topbar .right_corner .usermenu select {
  border: 0;
  color: #fff;
  background: url('../imgs/selectbk.png') right;
  appearance: none;
}

.topbar .right_corner .weather {
  font-size: 20px;
  margin-left: 26px;
}

.topbar .right_corner .weather img {
  margin: 0 3px -10px 0;
}

.topbar .left_corner span,
.topbar .right_corner span {
  display: inline-block;
  font-size: 14px;
  height: 34px;
  margin: 5px 7px 0 7px;
  padding-right: 5px;
  cursor: pointer;
}

.topbar .left_corner span:hover {
  background: #098ec5;
}

.topbar .left_corner span img,
.topbar .right_corner span img {
  margin: 0 3px -11px 0;
}

.topbar .fill {
  background: url('../imgs/Topbat_fill.png') top;
}

.topbar .main_title {
  width: 282px;
  background: url('../imgs/Topbat_mtitle.png');
}

.topbar .sub_title {
  width: 282px;
  background: url('../imgs/Topbat_stitle.png') top no-repeat;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  vertical-align: top;
  line-height: 35px;
  letter-spacing: 4px;
}

#left_panel_warp {
  position: absolute;
  width: 335px;
  left: 0;
  top: 55px;
}

#right_panel_warp {
  position: absolute;
  width: 335px;
  right: 0px;
  top: 55px;
}

.home_spanel {
  height: 197px;
  margin-bottom: 10px;
  width: 335px;
  cursor: pointer;
  background: url('../imgs/home_spanel.png') top;
  position: relative;
}

.home_spanel:hover,
.home_spanel.active {
  background-position: bottom;
}

.home_spanel .stitle {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-left: #29befc solid 4px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 1px 0 4px 6px;
  line-height: 16px;
}

.home_spanel .iconview {
  position: absolute;
  top: 5px;
  right: 8px;
}

.home_spanel .hicon {
  position: absolute;
  left: 26px;
  top: 60px;
}

.gbtn {
  padding: 4px 8px;
  font-size: 13px;
  color: #fff;
  border: #4dd9f0 solid 1px;
  -moz-box-shadow: 0 0 7px #4dd9f0 inset;
  -webkit-box-shadow: 0 0 7px #4dd9f0 inset;
  box-shadow: 0 0 7px #4dd9f0 inset;
  display: inline-block;
}

.gbtn:hover {
  background: #4dd9f0;
}

.home_spanel .gbtn {
  position: absolute;
  left: 22px;
  top: 133px;
}

.home_spanel .hinfo {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 120px;
  top: 40px;
}

.home_spanel .hinfo li {
  font-size: 12px;
  color: #4ce6ff;
  margin-bottom: 7px;
}

.home_spanel .hinfo li span {
  color: #fff;
  font-weight: bold;
  margin-left: 6px;
}

.home_spanel select {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  border: #4dd9f0 solid 1px;
  -moz-box-shadow: 0 0 7px #4dd9f0 inset;
  -webkit-box-shadow: 0 0 7px #4dd9f0 inset;
  box-shadow: 0 0 7px #4dd9f0 inset;
  background: rgba(0, 0, 0, 0);
  margin-left: 6px;
}

.home_spanel select option {
  background: #162a49;
}

#bottombar {
  width: 286px;
  height: 62px;
  background: url('../imgs/Bottombar.png');
  position: absolute;
  left: 50%;
  margin-left: -143px;
  bottom: 0;
  text-align: center;
}

#bottombar div,
.exitfloor {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../imgs/tsfill.png');
  border-radius: 50%;
  cursor: pointer;
  border: #4dd9f0 solid 1px;
  margin: 6px 3px 0 3px;
  -moz-box-shadow: 0 0 7px #4dd9f0 inset;
  -webkit-box-shadow: 0 0 7px #4dd9f0 inset;
  box-shadow: 0 0 7px #4dd9f0 inset;
}

#bottombar div:hover,
.exitfloor:hover,
#bottombar .active {
  background: #4dd9f0;
}

.btndisable {
  opacity: 0.1;
}

.lefttree {
  position: absolute;
  background: url('../imgs/lefttree_bk.png');
  left: 110px;
  top: 60px;
  width: 200px;
  bottom: 30px;
  border-top: #3c639a solid 2px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lefttree .lefttree_title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  width: 160px;
  height: 20px;
  border-left: #29befc solid 4px;
  padding-left: 6px;
  left: 10px;
  top: 10px;
}

.lefttree .lefttree_list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 180px;
  left: 10px;
  top: 40px;
}

.lefttree .lefttree_list li {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-top: #1c5f85 solid 1px;
  padding: 8px;
  cursor: pointer;
}

.lefttree .lefttree_list li:hover {
  background: #29befc;
}

.lefttree .lefttree_list .active {
  background: #16cc8a;
}

.bottompanel {
  position: absolute;
  background-size: auto 100%;
  left: 317px;
  bottom: 30px;
  right: 110px;
  height: 180px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.bottompanel .panelunit {
  display: inline-block;
  height: 170px;
  width: 200px;
  background: url('../imgs/botpanel_bk.png');
  background-size: auto 100%;
  border-top: #3c639a solid 2px;
  margin-right: 6px;
  position: relative;
}

.bottompanel .panelunit .panelunit_title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  height: 20px;
  border-left: #29befc solid 4px;
  padding-left: 6px;
  left: 10px;
  top: 10px;
}

.bottompanel .panelunit .panelunit_content {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  height: 20px;
  top: 80px;
  left: 0;
  right: 0px;
  text-align: center;
}

#floatinfo {
  position: absolute;
  padding: 6px 10px;
  color: #fff;
  background: url('../imgs/floatfill.png');
  border-radius: 3px;
  border: #2dbcff solid 1px;
  display: none;
}

#manyou {
  width: 309px;
  height: 91px;
  position: absolute;
  left: 50%;
  margin-left: -156px;
  top: 80px;
  background: url('../imgs/manyou.png');
  display: none;
}

#manyou div {
  position: absolute;
  left: 228px;
  top: 4px;
}

#floorinfo {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: none;
}

#btn_aorb {
  position: absolute;
  width: 200px;
  height: 54px;
  left: 50%;
  margin-left: -100px;
  top: -60px;
  text-align: center;
  display: none;
}

#btn_aorb div {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../imgs/tsfill.png');
  border-radius: 50%;
  cursor: pointer;
  border: #4dd9f0 solid 1px;
  margin: 0 12px;
  -moz-box-shadow: 0 0 7px #4dd9f0 inset;
  -webkit-box-shadow: 0 0 7px #4dd9f0 inset;
  box-shadow: 0 0 7px #4dd9f0 inset;
  text-align: center;
  font-size: 26px;
  line-height: 49px;
}

#btn_aorb div:hover {
  background: #4dd9f0;
}

.floorinfo_unit {
  display: inline-block;
  margin: 12px 0 0 12px;
  vertical-align: middle;
}

.floorinfo_topbar {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  height: 33px;
  padding: 0;
}

.floorinfo_topbar td {
  background: url('../imgs/floortitle_fill.png');
}

.floorinfo_topbar #floorinfo_title {
  width: 248px;
  background: url('../imgs/floortitle.png');
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 26px;
  padding: 0;
}

.floorinfo_content {
  background: url('../imgs/floorinfo_fill.png');
  height: 220px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#floorbtn_down {
  position: absolute;
  width: 59px;
  height: 33px;
  background: url('../imgs/floorbtn_down.png');
  left: 50%;
  top: -4px;
  margin-left: -173px;
  cursor: pointer;
  background-position: top;
}

#floorbtn_up {
  position: absolute;
  width: 59px;
  height: 33px;
  background: url('../imgs/floorbtn_up.png');
  left: 50%;
  top: -4px;
  margin-left: 115px;
  cursor: pointer;
  background-position: top;
}

#floorbtn_down:hover,
#floorbtn_up:hover {
  background-position: 0 -33px;
}

.fsp {
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  line-height: 0;
  background: #fe7800;
  border-radius: 4px;
  -moz-box-shadow: 2px 2px 5px #333333;
  -webkit-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}

#testinfo {
  position: absolute;
  top: 10px;
  left: 360px;
  width: 100px;
  height: 30px;
  background: #000;
  color: #fff;
  line-height: 28px;
  font-size: 13px;
  text-align: center;
  display: none;
}

.devinfo {
  position: absolute;
  padding: 6px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: #29befc solid 1px;
  border-radius: 5px;
}

.devinfo .devtitle {
  font-size: 14px;
  font-weight: bold;
}

.devinfo .devtitle span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

.devinfo .devtitle .fgreen {
  color: #0c0;
}

.devinfo .devtitle .fred {
  color: #f00;
}

.devinfo .devcontent {
  font-size: 12px;
  margin-top: 5px;
}

.devinfo .devcontent span {
  font-size: 15px;
  margin-left: 3px;
  margin-right: 6px;
}
